asgiref==3.8.1
cffi==1.16.0
cryptography==42.0.8
Django==4.2.14
django-environ==0.11.2
django-extensions==3.2.3
django-filter==24.2
djangorestframework==3.15.2
gunicorn==22.0.0
Markdown==3.6
packaging==24.1
pycparser==2.22
python-decouple==3.8
redis==5.0.8
redis_management==1.1.0
sqlparse==0.5.1
tzdata==2024.1
